[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/gnupg"]
	path = vim/bundle/gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
